<style>

@font-face{
font-family:"SingleGhost-regular";
src:url("https://dl.dropbox.com/scl/fi/z09tforavwu0uofiwtht5/SingleGhost-regular.ttf?rlkey=7xuk92qa4wzr3bkwmptbk64rk&st=zf0j9l5m&dl=0") format("truetype");
font-display:swap;
}

.calli-baul{
position:relative;

width:850px;
height:260px;

margin:auto;

overflow:visible;

background-image:var(--cover);
background-size:cover;
background-position:center;

border:1px solid rgba(255,255,255,.08);

box-shadow:
0 0 25px rgba(0,0,0,.65),
inset 0 0 40px rgba(0,0,0,.85);
}

.calli-baul-overlay{
position:absolute;
inset:0;

background:
linear-gradient(
to bottom,
rgba(0,0,0,.25),
rgba(0,0,0,.72)
);

backdrop-filter:blur(1px);
}

.calli-baul-content{
position:absolute;

top:50%;
left:50%;

transform:translate(-50%,-50%);

width:90%;

text-align:center;

z-index:3;
}

.calli-baul-title{

font-family:
"SingleGhost-regular",
"Cormorant Garamond",
serif;

font-size:68px;

line-height:.95;

letter-spacing:2px;

text-transform:regular;

color:var(--title-color);

animation:calliFlick 5s infinite;

text-shadow:
0 0 5px rgba(255,255,255,.08),
0 0 12px rgba(120,0,0,.35),
0 0 25px rgba(120,0,0,.15);
}

.calli-baul-sub{

margin-top:12px;

font-size:11px;

letter-spacing:4px;

text-transform:uppercase;

color:var(--sub-color);

opacity:.85;

font-family:
times new roman,
serif;
}

.calli-baul-ornament{

position:absolute;

left:50%;
bottom:var(--ornament-bottom);

transform:translateX(-50%);

width:var(--ornament-width);
height:var(--ornament-height);

background-image:var(--ornament);

background-size:70px;

background-repeat:no-repeat;
background-position:center;

z-index:8;

pointer-events:none;

opacity:.95;

filter:
drop-shadow(0 0 6px rgba(255,255,255,.08))
drop-shadow(0 0 16px rgba(0,0,0,.55));
}

@keyframes calliFlick{

0%,18%,22%,25%,53%,57%,100%{
opacity:1;
}

20%,24%,55%{
opacity:.45;
}

21%,56%{
opacity:.15;
}

}


.calli-baul:before{

content:"";

position:absolute;

inset:0;

background:
radial-gradient(
circle at center,
transparent 35%,
rgba(0,0,0,.55) 100%
);

mix-blend-mode:multiply;

pointer-events:none;
}


.calli-baul:after{

content:"";

position:absolute;

inset:0;

opacity:.06;

background-image:
url("https://grainy-gradients.vercel.app/noise.svg");

mix-blend-mode:screen;

pointer-events:none;
}

</style>
